<div ng-controller="relationsController">
	<div class="row">
		<div class="col-md-12 col-xs-12">	
			<button class="btn btn-default btn-lg pull-left" data-toggle="modal" data-target="#newRelation">Новая связь</button>
			<button class="btn btn-success btn-lg pull-right" ng-click="save()">Сохранить</button>
		</div>

		<div class="col-md-12 col-xs-12 alerts-wrapper">	
			<div ng-show="saveSuccess" class="alert alert-success">
				<a class="close" aria-label="close"  ng-click="saveSuccess = undefined">&times;</a>
			  	<strong>Сохранено!</strong> Ваши изменения успешно сохранены.
			</div>	

			<div ng-show="inputError" class="alert alert-danger">
				<a class="close" aria-label="close"   ng-click="inputError = undefined">&times;</a>
			  	<strong>Ошибка!</strong> Вы попытались ввести некорректные данные.
			</div>	

			<div ng-show="saveError" class="alert alert-danger">
				<a class="close" aria-label="close"   ng-click="saveError = undefined">&times;</a>
			  	<strong>Ошибка!</strong> Сохранить данные не удалось. Попробуйте повторить действие позже.
			</div>	

			<div ng-show="sendError" class="alert alert-danger">
				<a class="close" aria-label="close"  ng-click="sendError = undefined">&times;</a>
			  	<strong>Ошибка!</strong> Сохранить данные не удалось. Проверьте данные!
			</div>	
		</div>
	</div>

	


	<div class="row exams">
      	<ul class="list-group">
      		<li ng-repeat="rel in relations track by $index" class="list-group-item col-md-4 col-sm-6 col-xs-12">
      			<div class="panel panel-default">
      				<div class="panel-heading">      	
      					<input class="form-control input-hidden" />
      					<span data-toggle="modal" data-target="#editRelation">
      						<span class="glyphicon glyphicon-pencil edit-btn" ng-click="editRelation($index)"></span>
      					</span> 
      					<span class="delete-btn" ng-click="relations.splice($index, 1)">&times;</span>
      				</div>
      				<div class="panel-body">
      					<div class="form-group" ng-repeat="subj in rel track by $index">
	      					<label class="">Предмет {{$index + 1}}</label>
	      					{{ subj.name }} ({{ subj.prefix }}, {{ subj.type }})
      					</div>      					
      				</div>
      			</div>
      		</li>
      	</ul>
	</div>		


	<!-- Modal -->
	<div class="modal fade" id="newRelation" role="dialog">
	    <div class="modal-dialog">
	    
	      	<!-- Modal content-->
		    <div class="modal-content">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h4 class="modal-title">Новая зависимость</h4>
		        </div>
		        <div class="modal-body">
	        		<div class="form-group">
		        		<label>Предметы</label>

		        		<div ng-repeat="subj in newRelation track by $index">
			        		<select ng-model="newRelation[$index]" 
			        				ng-options="exam as (exam.name + ',' + exam.type) for exam in exams"/>

			        		<button type="button" ng-click="newRelation.splice($index, 1)">&times;</button>
		        		</div>

		        		<button ng-click="newRelation.push(exams[0])" ng-disabled="newRelation.length == exams.length">
		        			Добавить
		        		</button>
		        		
		        	</div>		        	
		        </div>
		        <div class="modal-footer">
		          	<button ng-click="addRelation()" type="button" class="btn btn-default" data-dismiss="modal">Ок</button>
		        </div>
		    </div>
	      
	    </div>
	</div>


	<!-- 

				ДЛЯ РЕДАКТИРОВАНИЯ ЗАПИСИ

	 -->
	<div class="modal fade" id="editRelation" role="dialog">
	    <div class="modal-dialog">
	    
	      	<!-- Modal content-->
		    <div class="modal-content">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h4 class="modal-title">Редактировать связь</h4>
		        </div>
		        <div class="modal-body">
	        		<div class="form-group">
		        		<label>Предметы</label>

		        		<div ng-repeat="subj in editingRelation track by $index">
			        		<select ng-model="editingRelation[$index]" ng-options="exam as exam.name + ',' + exam.type for exam in exams"/>

			        		<button type="button" ng-click="editingRelation.splice($index, 1)">&times;</button>
		        		</div>

		        		<button ng-click="editingRelation.push(exams[0])" ng-disabled="editingRelation.length == exams.length">
		        			Добавить
		        		</button>		        		
		        	</div>		        	
		        </div>
		        <div class="modal-footer">
		          	<button ng-click="updateRelation()" type="button" class="btn btn-default" data-dismiss="modal">Ок</button>
		        </div>
		    </div>
	      
	    </div>
	</div>

</div>